<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colaboradores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Colaboradores</h1>
        <ul>
            {% for colaborador in colaboradores %}
            <li>
                <a href="/colaboradores/{{ colaborador.id }}">{{ colaborador.nome }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="/" class="button">Voltar ao Menu</a>
    </div>
</body>
</html>
