<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Contas</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for conta in contas_projeto %}
                <tr>
                    <td>{{ conta.nome }}</td>
                    <td>{{ conta.valor }}</td>
                    <td>{{ conta.vencimento }}</td>
                    <td>{{ conta.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="button">Voltar ao Menu</a>
    </div>
</body>
</html>
